/* Carousel CSS */
.carousel-container {
    /* position: relative; */
    width: 80%;
    max-width: 800px;
    margin: auto;
  }
  
  .carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px; /* Optional: adds rounded corners */
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
  }
  
  .prev {
    left: 15px;
  }
  
  .next {
    right: 15px;
  }
  
  /* Dots for navigation */
  .dots {
    text-align: center;
    margin-top: 10px;
  }
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #717171;
  }
  
  /* Responsive Design for Smaller Screens */
  @media (max-width: 768px) {
    .logo {
      max-width: 150px;
    }
  
    .carousel-container {
      width: 90%;
    }
  
    .carousel-image {
      width: 100%;
    }
  }
  